body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #3C5186;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #284E78;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #284E78;
  font-weight: bold;
}

.top-container{
  background-color: #FFF5DE;
  position: relative;
  padding-top: 100px;
  line-height: 3rem;
}

.middle-container{
  margin-top: 20px;
}

.bottom-container{
  padding-top: 30px;
  background-color: #FFD8CC;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.contact-me{
  margin-bottom: 50px;
}

.flutter{
  float: left;
}

.cpp{
  float: right;
}

hr{
  width: 5%;
  border-style: dotted none none none;
  border-width: thick;
  border-color: #FFBD9B;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud{
  position: absolute;
  right : 300px;
  top : 50px;
}

.bottom-cloud{
  position: absolute;
  left : 300px;
  bottom: 300px;
}

.profile-pic{
  height:250px;
  width:250px;
}

.headingh2{
  color: #3C5186;
  font-weight: normal;
}

a{
  color: #5F939A;
  margin: 0 20px;
  text-decoration: none;
}

a:hover{
  color: blue;
}

.footer-link{
}

.footer-name{
  color:#3C5186;
}
.btn {
  background: #42aef5;
  background-image: -webkit-linear-gradient(top, #42aef5, #065a8f);
  background-image: -moz-linear-gradient(top, #42aef5, #065a8f);
  background-image: -ms-linear-gradient(top, #42aef5, #065a8f);
  background-image: -o-linear-gradient(top, #42aef5, #065a8f);
  background-image: linear-gradient(to bottom, #42aef5, #065a8f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #23f565;
  background-image: -webkit-linear-gradient(top, #23f565, #0c9648);
  background-image: -moz-linear-gradient(top, #23f565, #0c9648);
  background-image: -ms-linear-gradient(top, #23f565, #0c9648);
  background-image: -o-linear-gradient(top, #23f565, #0c9648);
  background-image: linear-gradient(to bottom, #23f565, #0c9648);
  text-decoration: none;
}
