/*******************************************TAG SELECTORS************************************************/
div{
  background-color: #FFEEDB;
}

body{
  margin:0;
}
h1{
  margin-top: 0;
}
/*******************************************CLASS SELECTORS************************************************/

/*******************************************ID SELECTORS************************************************/
